
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Holtwood+One+SC&family=Raleway:wght@300&family=Roboto:ital,wght@0,300;1,300&family=Sofia+Sans:ital,wght@1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Nunito', sans-serif;

   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-height: 100vh;
  
}

.paginate {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
  align-items: center;
  gap: 30px;
}
.paginate li {
  border: 1px solid black;
  padding: 4px;

}

.paginate li:hover{
  background-color: rgb(227, 224, 224);
}

